[access]
	inheritFrom = All-Projects
[project]
	description = Bonzai's ESLint configuration
[access "refs/*"]
	owner = group user/Bonzai (bonzaidev)
[access "refs/for/refs/*"]
	read = group user/Bonzai (bonzaidev)
	push = group user/Bonzai (bonzaidev)
	label-Code-Review = -2..+2 group user/Bonzai (bonzaidev)
	label-Verified = -1..+1 group user/Bonzai (bonzaidev)
	rebase = group user/Bonzai (bonzaidev)
	removeReviewer = group user/Bonzai (bonzaidev)
	submit = group user/Bonzai (bonzaidev)
[access "refs/heads/*"]
	read = group user/Bonzai (bonzaidev)
	create = group user/Bonzai (bonzaidev)
	push = +force group user/Bonzai (bonzaidev)
	pushMerge = group user/Bonzai (bonzaidev)
[access "refs/tags/*"]
	push = group user/Bonzai (bonzaidev)
	push = +force group user/Bonzai (bonzaidev)
